<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BossApp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="jumbotron jumbotron-fluid bg-dark">
        <h1 class="text-center">Team Management</h1>
    </div>
    
    <!-- Where employees will display -->
    <div class="container text-center row mx-auto">
        
    <div class="col-4 mt-4">
        <div class="card emp-card">
            <div class="card-header bg-dark text-info">
                <h2 class="card-title">Jacoby Ford</h2>
                <h3 class="card-title">Manager</h3>
            </div>
            <div class="card-body">
                <p class="empId">Id: 1</p>
                <p class="empEmail">Email: <a href="mailto:jacoby@gmail.com">Jacoby@gmail.com</a></p>
                <p class="empOfficeNumber">Office Number: 1</p>
            </div>
        </div>
    </div>
    
    <div class="col-4 mt-4">
        <div class="card emp-card">
            <div class="card-header bg-dark text-info">
                <h2 class="card-title">Senor Toothless</h2>
                <h3 class="card-title">Engineer</h3>
            </div>
            <div class="card-body">
                <p class="empId">Id: 2</p>
                <p class="empEmail">Email: <a href="mailto:noteeth@gmail.com">noteeth@gmail.com</a></p>
                <p class="empGitHub">GitHub: <a href="https://github.com/senortoothless">senortoothless</p>
            </div>
        </div>
    </div>
    
    <div class="col-4 mt-4">
        <div class="card emp-card">
            <div class="card-header bg-dark text-info">
                <h2 class="card-title">Paul Blart</h2>
                <h3 class="card-title">Intern</h3>
            </div>
            <div class="card-body">
                <p class="empId">Id: 100</p>
                <p class="empEmail">Email: <a href="mailto:blarty@yahoo.com">blarty@yahoo.com</a></p>
                <p class="empSchool">School: Security Guard University</p>
            </div>
        </div>
    </div>
    
    </div>
</body>
</html>